@page
@model practircaII.Pages.NominaModel
@{
}

<h1>@Model.empleados[0].Nombre</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Cargos</th>
            <th scope="col">Salario mensual</th>
            <th scope="col">Descuento AFP</th>
            <th scope="col">Descuento ARS</th>
            <th scope="col">Descuento ISR</th>
            <th scope="col">Total descuetnos</th>
            <th scope="col">Salario neto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var empleado in Model.empleados) {

        <tr>
            <th scope="row">@empleado.Nombre</th>
            <td>@empleado.Apellido</td>
            <td>@empleado.Cargo</td>
            <td>@empleado.Salario</td>
            <td>@Model.afp(empleado.Salario)</td>
            <td>@Model.sfs(empleado.Salario)</td>
            <td>@Model.isr(empleado.Salario)</td>
        </tr>
       
        }
    </tbody>
</table>